input {
  width: 50%;
  height: 40px;
  padding: 5px 10px;
  font-size: 1.5rem;
  color: grey;
  border: 1px solid #f00;
  border-radius: 4px;
  display: block;
  margin: 100px auto 0 auto;
  &:focus {
    outline: none;
  }
}